.contact,
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-form {
    display: flex;
    align-items: center;
    justify-content: center;
}